html{
  scroll-behavior: smooth;
}
/* Form Styling */
img{
  border-radius: 100%;
  margin-left: 36rem;
}

hr{
  margin: 16px 0;
  background-color: #4a47a3;
}

form label{
  font-size: 1.1rem;
  font-weight: 500;
}

.main{
  width: fit-content;
  padding: 10px;
  margin: 50px auto;
  border: 6px dotted #4a47a3;
}

.btn{
  width: fit-content;
  margin: 7px auto 7px 10rem;
}

.textInput{
  border-radius: 3px;
}

.gender{
  margin: 10px auto;
}

nav{
  width: 100%;
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  top: 0;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  float: right;
}
ul li a{
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*//////////////////////////////////////////////////// Title ///////////////////////////////////////////////////////////*/

#home{
  height: fit-content;
  background-color: #80a0aa;
  display: inline-block;
  width: 100%;

}

.title{
  margin: 6rem auto;
  width: 76%;
}

.title-content{
  color: #ffeeee;
  padding-top: 10px;
  font-size: 20px;
}

/*/////////////////////////////////////////////////// Sign Up //////////////////////////////////////////////////////////*/
.signup-holder{
  background-color: #a7c5eb;
}

#signup{
  height: fit-content;
  display: inline-block;
  margin-left: 25rem;
}

#signup label{
  font-size: 1.1rem;
  font-weight: 500;
}

#signup .main{
  width: fit-content;
  padding: 10px;
  margin: 50px auto;
  border: 6px dotted #4a47a3;
}

#signup .btn{
  width: fit-content;
  margin: 7px auto 7px 10.5rem;
}

#signup .gender{
  margin: 10px auto;
}

/*//////////////////////////////////////////////////// Services ///////////////////////////////////////////////////////////*/

#services{
  height: fit-content;
  background-color: #a7d5ee;
  display: inline-block;
  width: 100%;
}

#services .icon{
  color: #4a47a3;
  margin-bottom: 1rem;
}

#services .feat{
    text-align: center;
    padding: 5%;
}

#services div p{
  font-size: 17px;
}

/*//////////////////////////////////////////////////// Contact ///////////////////////////////////////////////////////////*/

#contact{
  height: fit-content;
  background-color: #afeeee;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 7% 15%;
}

#contact p{
    color: #1aad5d;
    font-size: 18px;
}
#contact span{
  text-decoration: underline;
  margin: 0 1px;
  font-weight: 500;
}
.socials{
    margin: 20px 15px;
}
