body{
  font-family: Verdana,cursive;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

nav{
  background-color: #0082e6
}

.logo{
  color: #fff;
  font-size: 2.6rem;
  line-height: 80px;
  padding: 10px 60px 0;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a{
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover{
  background-color: #ee3412;
  transition: .3s
}


.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.check{
  display: none;
}

@media (max-width : 952px) {
  .logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width : 858px) {
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100ch;
    background-color: #2c3e50;
    top: 80px;
    left: 0;
    text-align: center;
  }
  nav ul li{
    display: block;
  }

  nav ul li a{
    font-size: 20px;
  }

  a:hover{
    background: none;
    color: #ee3412;
  }
}
